:root {
    /* Colors */
    --Purple: rgb(164, 16, 177);
    --DarkPurple: rgb(58, 14, 62);
    --LightPurple: rgb(156, 144, 158);
    --LightGray: rgba(230, 230, 230, 0.457);

    /* Background Colors */
    --bgWhite: rgb(255, 255, 255);
    --bgPurple: rgb(246, 235, 253);

    /* Fonts Size */
    --h1: clamp(18px, 23px + 1.5vw, 54px);
    --p1: clamp(14px, 9px + 1.5vw, 42px);
    --p2: clamp(12px, 7px + 1.5vw, 36px);
}

@font-face {
    font-family: 'SansBold';
    src: url('./assets/fonts/static/WorkSans-Bold.ttf');
}

@font-face {
    font-family: 'SansRegular';
    src: url('./assets/fonts/static/WorkSans-Regular.ttf');
}

@font-face {
    font-family: 'SansSemiBold';
    src: url('./assets/fonts/static/WorkSans-SemiBold.ttf');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: clamp(12px, 10px + 1.5vw, 3rem);
    font-family: 'SansRegular';
}

body {
   background-color: var(--bgPurple);
}

h1 {
    font-size: var(--h1);
    font-family: 'SansBold';
}

h1, .p1 {
    color: var(--DarkPurple);
}

.p1 {
    font-size: var(--p1);
    font-family: 'SansSemiBold';
    max-width: 23ch;
}

.p2 {
    font-size: var(--p2);
    color: var(--LightPurple);
    line-height: 1.5;
    max-width: 30ch;
    font-weight: 500;
}

.img-container > picture {
    display: block;
}

.img-container > picture > img {
    width: 100%;
    height: 12rem;
    /* height: 8rem; */
    object-fit: cover;
    object-position: bottom;
}

main {
   display: flex;
   justify-content: center;
   align-items: center; 
}

.container {
    background-color: var(--bgWhite);
    width: 20rem;
    height: auto;
    padding: 1.5rem;
    margin: 1.5rem;
    border-radius: 0.6rem;
    position: relative;
    top: -8rem;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 1rem;
    /* padding-bottom: 1.5rem; */
}

header > img {
    width: 1.5rem;
    height: 1.5rem;
}

section {
    padding: 1.2rem 0;
    border-bottom: 2px solid var(--LightGray);
}

section:last-child {
    border-bottom: none;
}

.click {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.click:active > .p1, .click:hover > .p1 {
    color: var(--Purple);
    cursor: pointer;
}

.info {
    position: relative;
    height: 0;
    overflow: hidden;
    /* overflow-y: auto; */
    transition: all 500ms ease-in-out;
}

.info.active {
    padding-top: 1rem;
    height: auto;

}



